<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWS.Logger.Core" version="1.4.0" targetFramework="net462" />
  <package id="AWS.Logger.Log4net" version="1.4.0" targetFramework="net462" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.100.52" targetFramework="net462" />
  <package id="AWSSDK.Core" version="3.3.103.15" targetFramework="net462" />
  <package id="BouncyCastle.Crypto.dll" version="1.8.1" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.4.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
</packages>